@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: 'Inter', sans-serif;
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(/fonts/Inter-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-display: swap;
  font-style: bold;
  font-named-instance: "Bold";
  src: url(/fonts/Inter-SemiBold.woff2) format("woff2");
}

.bs-cursor-container{
  cursor: none;
}